body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #333;
    
    /*
    background-color: #eee;
    background-color: #333;
    background-color: #f7f7f7;
    background-color: #DCDCDC;
    background-color: #3f51b5;
    color: #fff;
    color: rgba(255,255,255,.5);
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    */
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
footer {
    color: #999;
}
.table-fit {
    width: 1px;
}
.well {
    color: #333;
    /*
    background-color: rgba(255,255,255,0.6); 
    */
}

/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    float: left;
    width: 100px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 120px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}    

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('Images/parallax1.jpg');
    min-height: 100%;
    opacity: 0.9;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("parallax1.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("parallax1.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones 
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
*/
